In [71]:
import pandas as pd
import numpy as np
import sys

In [72]:
path = '/Users/edlapaniguel/Desktop/ironhack/2.Modulo_1/Semana_04/Data-Cleaning/your-code'

In [73]:
users = pd.read_csv(path+ '/users.csv', sep='#')

In [74]:
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

In [78]:
#users.loc[startrow:endrow, startcolumn:endcolumn]

users.loc["-1":"3","Location":"UpVotes"]

,Location,AboutMe,Views,UpVotes
0,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007
1,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3
2,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19
3,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0
4,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662
...,...,...,...,...
29995,NaN,NaN,0,0
29996,NaN,NaN,0,0
29997,NaN,NaN,0,0
29998,"Boston, MA",NaN,0,0
29999,"London, United Kingdom",NaN,0,0

In [84]:
users['Location']

0        on the server farm
1             Corvallis, OR
2              New York, NY
3         San Francisco, CA
4              New York, NY
                ...
40498                   NaN
40499    Gothenburg, Sweden
40500        Minsk, Belarus
40501                   NaN
40502                   NaN
Name: Location, Length: 40503, dtype: object

In [96]:
type(users['Location'])

pandas.core.series.Series

In [95]:
users[2:4]

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg

In [97]:
type(users[2:4])

pandas.core.frame.DataFrame

In [99]:
users.DisplayName.unique()

array(['Community', 'Geoff Dalgas', 'Jarrod Dixon', ..., 'tronbabylove',
       'GPP', 'Shivam Agrawal'], dtype=object)