In [235]:
import pandas as pd
import numpy as np

In [236]:
!pwd

/Users/edlapaniguel/Desktop/ironhack/2.Modulo_1/Projeto_01

In [237]:
#bataques por local(tem pais, area e localização),sexo(pelo nome da para verificar tbm),atividade, data, tipo, age, fatalidade, tipo de tubarão.
#Tirar colunas Unnamed22 e Unnamed23
#Tirar linhas com Nan - ate a linha 6301 tem info, da 6302 para o fim  é so NaN. 
#Tirar coluna nome 
#Primeiro carreguei TODO o doc pra ver, visual, mesmo
#Passei value_counts em todas as colunas, investigação, depois que escolhi apaguei para não pesar muito
# usar site da pop de tubaroes no mundo cruzando pais, area e localização com NaN do especie
# Sex ajustar a coluna sexo com os que estavam N, .,  lli - F era 12% e M 88%
#Years #-1800 - 1800 - 1850 - 1900 - 1950 - 2000 - 2000+ ( nova coluna)
#Tirar coluna species

In [238]:
attacks = pd.read_csv('attacks.csv', encoding="ISO-8859-1")
attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [239]:
attacks.info()
#tras as linhas preenchidas, as não nulas, NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [240]:
attacks.isnull().sum()
# a soma de linhas nulas pra cada coluna, as NaN

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [241]:
df_bkp = attacks.copy()

In [242]:
attacks.dropna(how='all', inplace=True) 
attacks.shape

(8703, 24)

In [243]:
attacks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [244]:
attacks.columns = [column.lower() for column in attacks.columns]
attacks.columns = [column.replace(' ','_') for column in attacks.columns]

In [245]:
attacks.rename(columns={'sex_': 'sex', 'species_':'species'}, inplace=True)

In [246]:
attacks.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [247]:
attacks.drop(columns=['unnamed:_22','unnamed:_23'], inplace=True)

In [248]:
attacks.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order'],
      dtype='object')

In [249]:
attacks.drop(columns=['case_number','date','name','injury', 'species','investigator_or_source', 'pdf', 'href_formula', 'href', 'case_number.1', 'case_number.2', 'original_order'], inplace=True)

In [250]:
attacks.iloc[7000:8000]

      year type country area location activity  sex  age fatal_(y/n) time
7000   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN         NaN  NaN
7001   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN         NaN  NaN
7002   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN         NaN  NaN
7003   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN         NaN  NaN
7004   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN         NaN  NaN
...    ...  ...     ...  ...      ...      ...  ...  ...         ...  ...
7995   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN         NaN  NaN
7996   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN         NaN  NaN
7997   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN         NaN  NaN
7998   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN         NaN  NaN
7999   NaN  NaN     NaN  NaN      NaN      NaN  NaN  NaN         NaN  NaN

[1000 rows x 10 columns]

In [251]:
attacks.columns

Index(['year', 'type', 'country', 'area', 'location', 'activity', 'sex', 'age',
       'fatal_(y/n)', 'time'],
      dtype='object')

In [252]:
attacks['sex'].value_counts()

M      5094
F       637
M         2
N         2
.         1
lli       1
Name: sex, dtype: int64

In [253]:
attacks['sex'].replace('N','M', inplace=True)

In [254]:
attacks['sex'].replace('lli','F', inplace=True)

In [255]:
attacks['sex'].replace('M ','M', inplace=True)

In [256]:
attacks['sex'].replace('.','M', inplace=True)

In [257]:
attacks['sex'].value_counts().sum()
#5737 preenchidos, com valor

5737

In [258]:
attacks['sex'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
8698      True
8699      True
8700      True
8701      True
25722     True
Name: sex, Length: 8703, dtype: bool

In [259]:
attacks['sex'].isnull().sum()
#2966 sem valor, NaN

2966

In [260]:
attacks['country'].value_counts()

USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
                    ...
GUATEMALA              1
ST. MAARTIN            1
BAY OF BENGAL          1
SUDAN?                 1
INDIAN OCEAN?          1
Name: country, Length: 212, dtype: int64

In [261]:
attacks['country'].isnull().sum()
#2451

2451

In [262]:
# attacks['country'].replace(' TONGA','TONGA', inplace=True)
attacks['country'].replace('RED SEA / INDIAN OCEAN','UNKNOWN', inplace=True)
attacks['country'].replace('RED SEA?','UNKNOWN', inplace=True)
attacks['country'].replace('INDIAN OCEAN?','UNKNOWN', inplace=True)
attacks['country'].replace('ASIA?','UNKNOWN', inplace=True)
attacks['country'].replace('SOLOMON ISLANDS / VANUATU','UNKNOWN', inplace=True)
attacks['country'].replace('ANDAMAN / NICOBAR ISLANDAS','UNKNOWN', inplace=True)
attacks['country'].replace('EGYPT / ISRAEL','UNKNOWN', inplace=True)
attacks['country'].replace('EQUATORIAL GUINEA / CAMEROON','UNKNOWN', inplace=True)
attacks['country'].replace('ITALY / CROATIA','UNKNOWN', inplace=True)
attacks['country'].replace('IRAN / IRAQ','UNKNOWN', inplace=True)
attacks['country'].replace('ST HELENA, BRITISH OVERSEAS TERRITORY','UNKNOWN', inplace=True)
attacks['country'].replace('DIEGO GARCIA','UNKNOWN', inplace=True)
attacks['country'].replace('BETWEEN PORTUGAL & INDIA','UNKNOWN', inplace=True)
attacks['country'].replace('SUDAN?','UNKNOWN', inplace=True)
attacks['country'].replace('OCEAN','UNKNOWN', inplace=True)
attacks['country'].replace(' PHILIPPINES','PHILIPPINES', inplace=True)
attacks['country'].replace(' TONGA','TONGA', inplace=True)

In [263]:
# attacks['country'] = [column.upper() for column in attacks.columns]
attacks['country'] = attacks['country'].str.upper()

In [264]:
# pd.set_option('display.max_columns', None) 
# pd.set_option('display.max_rows', None)

In [265]:
attacks['year'].isnull().sum()

2403

In [266]:
attacks['year'].value_counts()

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1818.0      1
1811.0      1
1804.0      1
1797.0      1
1543.0      1
Name: year, Length: 249, dtype: int64

In [267]:
#-1800 - 1800 - 1850 - 1900 - 1950 - 2000 - 2000+ ( nova coluna)

#df.loc[(df['coluna nome'] == ou > ou <= condição), 'nome nova coluna'] = 1
attacks.loc[(attacks['year'] <= 1800),'year_grouped'] = '- 1800'
attacks.loc[((attacks['year'] > 1800) & (attacks['year'] <= 1850)),'year_grouped'] = '1800 - 1850'
attacks.loc[((attacks['year'] > 1850) & (attacks['year'] <= 1900)),'year_grouped'] = '1850 - 1900'
attacks.loc[((attacks['year'] > 1900) & (attacks['year'] <= 1950)),'year_grouped'] = '1900 - 1950'
attacks.loc[((attacks['year'] > 1950) & (attacks['year'] <= 2000)),'year_grouped'] = '1950 - 2000'
attacks.loc[(attacks['year'] > 2000),'year_grouped'] = '2000 +'
attacks.loc[(attacks['year'].isnull()),'year_grouped'] = 'UNKNOWN'

In [268]:
attacks['type'].isnull().sum()

2405

In [269]:
attacks['type'].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: type, dtype: int64

In [270]:
attacks['type'].replace('Invalid','UNKNOWN', inplace=True)
attacks['type'].replace('Sea Disaster','UNKNOWN', inplace=True)
attacks['type'].replace('Boating','UNKNOWN', inplace=True)
attacks['type'].replace('Boat','UNKNOWN', inplace=True)
attacks['type'].replace('Questionable','UNKNOWN', inplace=True)
attacks['type'].replace('Boatomg ','UNKNOWN', inplace=True)
attacks['type'] = attacks['type'].str.upper()

In [271]:
attacks['fatal_(y/n)'].isnull().sum()

2940

In [272]:
attacks['fatal_(y/n)'].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
2017          1
N             1
y             1
M             1
Name: fatal_(y/n), dtype: int64

In [273]:
attacks['fatal_(y/n)'].replace(' N','N', inplace=True)
attacks['fatal_(y/n)'].replace('N ','N', inplace=True)
attacks['fatal_(y/n)'].replace('M','N', inplace=True)
attacks['fatal_(y/n)'].replace('y','Y', inplace=True)
attacks['fatal_(y/n)'].replace('2017','UNKNOWN', inplace=True)
attacks['fatal_(y/n)'] = attacks['fatal_(y/n)'].str.upper()


#data['trany'] = data['trany'].str.replace('-', '')
#qual a dif do que usei?

In [274]:
attacks['age'].isnull().sum()

5232

In [275]:
attacks['age'].value_counts()

17                         154
18                         150
19                         142
20                         141
15                         139
                          ...
37, 67, 35, 27,  ? & 27      1
74                           1
28 & 26                      1
30 & 32                      1
21 or 26                     1
Name: age, Length: 157, dtype: int64

In [276]:
attacks['age'].dtypes

dtype('O')

In [277]:
attacks['age'].dtypes == 'float64'

False

In [278]:
attacks['age'].dtypes == 'int64'

False

In [279]:
attacks['age'].dtypes == 'object'

True

In [280]:
attacks['age'].fillna(999, inplace=True)

In [281]:
#attacks['age'] = attacks['age'].astype(int) nao deu certo :(

attacks['age'] = pd.to_numeric(attacks['age'], errors = 'coerce')

In [282]:
attacks['age'].isna().sum()

102

In [283]:
attacks['age'].fillna(999, inplace=True)

In [284]:
#-12 , 17, 25, 35, 45, 50, 55, 75+  unknown


attacks.loc[(attacks['age'] <= 12),'age_grouped'] = '- 12'
attacks.loc[((attacks['age'] > 12) & (attacks['age'] <= 17)),'age_grouped'] = '12 - 17'
attacks.loc[((attacks['age'] > 17) & (attacks['age'] <= 25)),'age_grouped'] = '17 - 25'
attacks.loc[((attacks['age'] > 25) & (attacks['age'] <= 35)),'age_grouped'] = '25 - 35'
attacks.loc[((attacks['age'] > 35) & (attacks['age'] <= 45)),'age_grouped'] = '35 - 45'
attacks.loc[((attacks['age'] > 45) & (attacks['age'] <= 55)),'age_grouped'] = '45 - 55'
attacks.loc[((attacks['age'] > 55) & (attacks['age'] <= 65)),'age_grouped'] = '55 - 65'
attacks.loc[((attacks['age'] > 65) & (attacks['age'] <= 75)),'age_grouped'] = '65 - 75'
attacks.loc[(attacks['age'] > 75),'age_grouped'] = '75 +'
attacks.loc[(attacks['age'] == 999),'age_grouped'] = 'UNKNOWN'

In [285]:
attacks.head()

,year,type,country,area,location,activity,sex,age,fatal_(y/n),time,year_grouped,age_grouped
0,2018.0,UNKNOWN,USA,California,"Oceanside, San Diego County",Paddling,F,57.0,N,18h00,2000 +,55 - 65
1,2018.0,UNPROVOKED,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11.0,N,14h00 -15h00,2000 +,- 12
2,2018.0,UNKNOWN,USA,Hawaii,"Habush, Oahu",Surfing,M,48.0,N,07h45,2000 +,45 - 55
3,2018.0,UNPROVOKED,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,999.0,N,NaN,2000 +,UNKNOWN
4,2018.0,PROVOKED,MEXICO,Colima,La Ticla,Free diving,M,999.0,N,NaN,2000 +,UNKNOWN

In [286]:
attacks.drop(columns=['year','age'], inplace=True,)

In [287]:
attacks.head()

,type,country,area,location,activity,sex,fatal_(y/n),time,year_grouped,age_grouped
0,UNKNOWN,USA,California,"Oceanside, San Diego County",Paddling,F,N,18h00,2000 +,55 - 65
1,UNPROVOKED,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,N,14h00 -15h00,2000 +,- 12
2,UNKNOWN,USA,Hawaii,"Habush, Oahu",Surfing,M,N,07h45,2000 +,45 - 55
3,UNPROVOKED,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,N,NaN,2000 +,UNKNOWN
4,PROVOKED,MEXICO,Colima,La Ticla,Free diving,M,N,NaN,2000 +,UNKNOWN

In [288]:
new_order = [5,9,1,2,3,4,7,0,6,8]
attacks = attacks[attacks.columns[new_order]]
attacks.head(50)

,sex,age_grouped,country,area,location,activity,time,type,fatal_(y/n),year_grouped
0,F,55 - 65,USA,California,"Oceanside, San Diego County",Paddling,18h00,UNKNOWN,N,2000 +
1,F,- 12,USA,Georgia,"St. Simon Island, Glynn County",Standing,14h00 -15h00,UNPROVOKED,N,2000 +
2,M,45 - 55,USA,Hawaii,"Habush, Oahu",Surfing,07h45,UNKNOWN,N,2000 +
3,M,UNKNOWN,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,NaN,UNPROVOKED,N,2000 +
4,M,UNKNOWN,MEXICO,Colima,La Ticla,Free diving,NaN,PROVOKED,N,2000 +
5,M,UNKNOWN,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,NaN,UNPROVOKED,N,2000 +
6,M,17 - 25,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Late afternoon,UNPROVOKED,Y,2000 +
7,M,45 - 55,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,NaN,UNPROVOKED,N,2000 +
8,M,12 - 17,USA,Florida,"Cocoa Beach, Brevard County",Walking,17h00,UNPROVOKED,N,2000 +
9,M,- 12,USA,Florida,"Daytona Beach, Volusia County",Standing,14h00,UNPROVOKED,N,2000 +
10,M,25 - 35,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,Morning,PROVOKED,N,2000 +
11,M,- 12,USA,South Carolina,"Isle of Palms, Charleston County",Boogie boarding,NaN,UNPROVOKED,N,2000 +
12,M,- 12,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,15h00,UNPROVOKED,N,2000 +
13,M,17 - 25,ENGLAND,Cornwall,Off Land's End,Fishing,08h15,UNKNOWN,N,2000 +
14,F,25 - 35,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,NaN,PROVOKED,N,2000 +
15,M,UNKNOWN,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,11h00,UNPROVOKED,N,2000 +
16,M,UNKNOWN,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,10h30,UNKNOWN,N,2000 +
17,M,UNKNOWN,THAILAND,Hua Hin,Sai Noi Beach,Swimming,NaN,UNPROVOKED,N,2000 +
18,M,25 - 35,COSTA RICA,Cocos Island,Manuelita,Scuba diving,10h40,UNPROVOKED,N,2000 +
19,M,UNKNOWN,AUSTRALIA,Western Australia,Gearys Beach,Surfing,16h50,UNPROVOKED,N,2000 +
20,M,UNKNOWN,AUSTRALIA,New South Wales,Lennox Head,Surfing,07h00,UNKNOWN,N,2000 +
21,M,55 - 65,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,09h30,UNPROVOKED,N,2000 +
22,M,UNKNOWN,AUSTRALIA,Western Australia,"South Point, Gracetown",Surfing,Afternoon,UNPROVOKED,N,2000 +
23,M,25 - 35,MALDIVES,Alifu Alifu Atoll,Madoogali,Fishing,21h50,UNPROVOKED,N,2000 +
24,M,25 - 35,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,09h40,UNPROVOKED,N,2000 +
25,M,25 - 35,USA,Hawaii,"Shipwrecks Beach, Keoneloa Bay, Kauai",Body boarding,NaN,UNPROVOKED,N,2000 +
26,M,45 - 55,THAILAND,Hua Hin,Sai Noi Beach,Swimming,NaN,UNPROVOKED,N,2000 +
27,M,25 - 35,BRAZIL,Pernambuco,Piedade,Swimming,NaN,UNPROVOKED,NaN,2000 +
28,M,35 - 45,AUSTRALIA,Western Australia,"Lefthanders, Margaret River Area",Surfing,NaN,UNPROVOKED,N,2000 +
29,M,35 - 45,AUSTRALIA,Western Australia,"Cobblestones, Margaret River Area",Surfing,08h00,UNPROVOKED,N,2000 +
30,M,UNKNOWN,BAHAMAS,New Providence,Nirvana Beach,Surfing,09h30,UNPROVOKED,N,2000 +
31,M,55 - 65,BRAZIL,Alagoas,"Praia de Sauaçuhy, Maceió",Fishing,NaN,UNKNOWN,N,2000 +
32,NaN,UNKNOWN,NEW CALEDONIA,NaN,"Magenta Beach, Noumea",Windsurfing,17h00,UNPROVOKED,N,2000 +
33,M,- 12,BAHAMAS,NaN,Bimini,Swimming,18h00,UNPROVOKED,N,2000 +
34,M,17 - 25,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,15h00,UNPROVOKED,N,2000 +
35,M,17 - 25,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,09h30,UNPROVOKED,N,2000 +
36,M,- 12,AUSTRALIA,Western Australia,Waterman's Bay,Wading,17h35,UNPROVOKED,N,2000 +
37,M,65 - 75,AUSTRALIA,Victoria,Lorne,Swimming,15h30,UNPROVOKED,N,2000 +
38,M,17 - 25,AUSTRALIA,Victoria,Winkipop,Surfing,07h30,UNPROVOKED,N,2000 +
39,M,35 - 45,SOUTH AFRICA,KwaZulu-Natal,Durban,Scuba Diving,NaN,UNPROVOKED,N,2000 +
40,F,45 - 55,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,"19h00, Dusk",UNPROVOKED,N,2000 +
41,M,25 - 35,AUSTRALIA,Victoria,Westernport Bay,Kayak fishing for sharks,Night,PROVOKED,N,2000 +
42,M,25 - 35,AUSTRALIA,New South Wales,"Surf Beach, Kiama",Walking,16h00,UNPROVOKED,N,2000 +
43,F,UNKNOWN,AUSTRALIA,Queensland,Mooloolaba Beach,Swimming,18h00,UNKNOWN,N,2000 +
44,F,45 - 55,BRAZIL,"Boi Island, Victoria",Espirito Santo,Cleaning fish,NaN,UNKNOWN,N,2000 +
45,M,35 - 45,ECUADOR,Galapagos Islands,Santa Fe Island,Snorkeling,NaN,UNPROVOKED,N,2000 +
46,M,12 - 17,AUSTRALIA,Western Australia,"Avalon Point, Manurah",Spearfishing,NaN,UNKNOWN,N,2000 +
47,M,17 - 25,AUSTRALIA,Western Australia,Cone Bay,NaN,08h00,UNPROVOKED,N,2000 +
48,M,UNKNOWN,NEW CALEDONIA,NaN,Nouville,Spearfishing,15h30,UNPROVOKED,N,2000 +
49,M,UNKNOWN,AUSTRALIA,Queensland,Lizard Island,Diving,15h01,UNPROVOKED,N,2000 +

In [43]:
#criar lista com os 10 primeiros e renomeia como others != aos 10º
# Surfing - 971                                                                                                                                                                                                                                                     
# Swimming - 916
# Fishing - 431
# Spearfishing  - 333                                                                                                                                                   
# Bathing - 162
# Wading - 149
# Diving - 127
# Standing - 99
# Snorkeling - 89
# Scuba diving - 76
# Body boarding- 61
# Body surfing - 49                                                                                                                                                   
# Kayaking  - 33

# attacks['activity'].replace('Swimming ','Swimming', inplace=True)

In [40]:
attacks['activity'].isnull().sum()

2945

In [107]:
attacks['activity'].value_counts()[: 10].index
# 5758 non-null   object

Index(['Surfing', 'Swimming', 'Fishing', 'Spearfishing', 'Bathing', 'Wading',
       'Diving', 'Standing', 'Snorkeling', 'Scuba diving'],
      dtype='object')

In [ ]:
attacks['activity'] = df.groupby('activity')['Bid_Price'].rank(ascending=False)

In [ ]:
funcao q itera nessa lista se sim fica se nao dropa