In [22]:
import pandas as pd
import numpy as np

In [23]:
!pip install unidecode

Requirement already satisfied: unidecode in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.1.1)

In [24]:
import unidecode

In [25]:
!pwd

/Users/edlapaniguel/Desktop/ironhack/2.Modulo_1/Projeto_01

In [26]:
#Responder nº de ataques por local(tem pais, area e localização),sexo(pelo nome da para verificar tbm),atividade, data, tipo, age, fatalidade, tipo de tubarão.
#Tirar colunas Unnamed22 e Unnamed23
#Tirar linhas com Nan - ate a linha 6301 tem info, da 6302 para o fim  é so NaN. 
#Tirar coluna nome 
#Primeiro carreguei TODO o doc pra ver, visual, mesmo
#Passei value_counts em todas as colunas, investigação, depois que escolhi apaguei para não pesar muito
# usar site da pop de tubaroes no mundo cruzando pais, area e localização com NaN do especie
# Sex ajustar a coluna sexo com os que estavam N, .,  lli - F era 12% e M 88%
#Years #-1800 - 1800 - 1850 - 1900 - 1950 - 2000 - 2000+ ( nova coluna)

In [27]:
attacks = pd.read_csv('attacks.csv', encoding="ISO-8859-1")
attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [28]:
attacks.info()
#tras as linhas preenchidas, as não nulas, NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [29]:
attacks.isnull().sum()
# a soma de linhas nulas pra cada coluna, as NaN

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [30]:
df_bkp = attacks.copy()

In [31]:
attacks.dropna(how='all', inplace=True) 
attacks.shape

(8703, 24)

In [32]:
attacks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [33]:
attacks.columns = [column.lower() for column in attacks.columns]
attacks.columns = [column.replace(' ','_') for column in attacks.columns]

In [34]:
attacks.rename(columns={'sex_': 'sex', 'species_':'species'}, inplace=True)

In [35]:
attacks.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [36]:
attacks.drop(columns=['unnamed:_22','unnamed:_23'], inplace=True)

In [37]:
attacks.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order'],
      dtype='object')

In [38]:
attacks.drop(columns=['case_number', 'name','injury','investigator_or_source', 'pdf', 'href_formula', 'href', 'case_number.1', 'case_number.2', 'original_order'], inplace=True)

In [99]:
attacks.head()

,date,year,type,country,area,location,activity,sex,age,fatal_(y/n),time,species,data_clusters
0,25-Jun-2018,2018.0,UNKNOWN,USA,California,"Oceanside, San Diego County",Paddling,F,57,N,18h00,White shark,1.0
1,18-Jun-2018,2018.0,UNPROVOKED,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,N,14h00 -15h00,NaN,1.0
2,09-Jun-2018,2018.0,UNKNOWN,USA,Hawaii,"Habush, Oahu",Surfing,M,48,N,07h45,NaN,1.0
3,08-Jun-2018,2018.0,UNPROVOKED,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,N,NaN,2 m shark,1.0
4,04-Jun-2018,2018.0,PROVOKED,MEXICO,Colima,La Ticla,Free diving,M,NaN,N,NaN,"Tiger shark, 3m",1.0

In [40]:
attacks.columns

Index(['date', 'year', 'type', 'country', 'area', 'location', 'activity',
       'sex', 'age', 'fatal_(y/n)', 'time', 'species'],
      dtype='object')

In [48]:
attacks['sex'].value_counts()

M    5099
F     638
Name: sex, dtype: int64

In [42]:
attacks['sex'].replace('N','M', inplace=True)

In [43]:
attacks['sex'].replace('lli','F', inplace=True)

In [44]:
attacks['sex'].replace('M ','M', inplace=True)

In [45]:
attacks['sex'].replace('.','M', inplace=True)

In [46]:
attacks['sex'].value_counts().sum()
#5737 preenchidos, com valor

5737

In [47]:
attacks['sex'].isnull().sum()
#2966 sem valor, NaN

2966

In [67]:
attacks['country'].value_counts()

USA                               2229
AUSTRALIA                         1338
SOUTH AFRICA                       579
PAPUA NEW GUINEA                   134
NEW ZEALAND                        128
BRAZIL                             112
BAHAMAS                            109
MEXICO                              89
ITALY                               71
FIJI                                65
PHILIPPINES                         62
REUNION                             60
NEW CALEDONIA                       53
CUBA                                46
MOZAMBIQUE                          45
SPAIN                               44
INDIA                               40
EGYPT                               38
JAPAN                               34
CROATIA                             34
PANAMA                              32
SOLOMON ISLANDS                     30
IRAN                                29
JAMAICA                             27
GREECE                              25
FRENCH POLYNESIA                    25
HONG KONG                           24
INDONESIA                           23
ENGLAND                             23
TONGA                               18
ATLANTIC OCEAN                      17
COSTA RICA                          17
PACIFIC OCEAN                       17
BERMUDA                             16
UNKNOWN                             16
VIETNAM                             15
VANUATU                             14
SRI LANKA                           14
MARSHALL ISLANDS                    13
FRANCE                              13
CANADA                              12
SOUTH ATLANTIC OCEAN                12
TURKEY                              12
IRAQ                                12
VENEZUELA                           11
SENEGAL                             11
UNITED KINGDOM                      11
NEW GUINEA                          10
KENYA                               10
MAURITIUS                           10
COLUMBIA                             9
ECUADOR                              9
SIERRA LEONE                         9
TAIWAN                               9
SOUTH KOREA                          8
SAMOA                                8
THAILAND                             8
SCOTLAND                             8
CHILE                                8
TANZANIA                             8
MADAGASCAR                           8
CARIBBEAN SEA                        8
SEYCHELLES                           8
NORTH PACIFIC OCEAN                  7
DOMINICAN REPUBLIC                   7
INDIAN OCEAN                         7
CHINA                                7
ISRAEL                               7
YEMEN                                7
SOMALIA                              6
SINGAPORE                            6
NEW BRITAIN                          6
OKINAWA                              6
KIRIBATI                             6
BARBADOS                             6
NICARAGUA                            6
LIBYA                                6
PALAU                                5
MALTA                                5
MALAYSIA                             5
AZORES                               5
TURKS & CAICOS                       5
MID ATLANTIC OCEAN                   5
SAUDI ARABIA                         5
GUAM                                 4
EL SALVADOR                          4
PERSIAN GULF                         4
NIGERIA                              4
BURMA                                4
HONDURAS                             4
NORTH ATLANTIC OCEAN                 4
GRENADA                              4
RUSSIA                               4
URUGUAY                              4
SUDAN                                4
AMERICAN SAMOA                       3
LIBERIA                              3
MONTENEGRO                           3
MARTINIQUE                           3
LEBANON                              3
CEYLON                               3
MICRONESIA                           3
HAITI                                3
TRINIDAD & TOBAGO                    3
GUYANA                               3
GUINEA                               3
TUNISIA                              3
BELIZE                               3
CAPE VERDE                           3
PORTUGAL                             3
SOUTHWEST PACIFIC OCEAN              2
EGYPT                                2
CENTRAL PACIFIC                      2
WEST INDIES                          2
ANTIGUA                              2
UNITED ARAB EMIRATES (UAE)           2
ICELAND                              2
NAMIBIA                              2
PACIFIC OCEAN                        2
JOHNSTON ISLAND                      2
SOUTH PACIFIC OCEAN                  2
CAYMAN ISLANDS                       2
YEMEN                                2
CRETE                                2
TOBAGO                               2
NORWAY                               2
UNITED ARAB EMIRATES                 2
MEDITERRANEAN SEA                    2
RED SEA                              1
NORTH SEA                            1
JAVA                                 1
SYRIA                                1
COAST OF AFRICA                      1
SLOVENIA                             1
ARUBA                                1
GHANA                                1
MONACO                               1
BAHREIN                              1
GULF OF ADEN                         1
NETHERLANDS ANTILLES                 1
SAN DOMINGO                          1
BANGLADESH                           1
BRITISH VIRGIN ISLANDS               1
GABON                                1
MEXICO                               1
MALDIVE ISLANDS                      1
NORTH ATLANTIC OCEAN                 1
GRAND CAYMAN                         1
CURACAO                              1
IRELAND                              1
PARAGUAY                             1
ST. MARTIN                           1
PERU                                 1
COMOROS                              1
PALESTINIAN TERRITORIES              1
MAYOTTE                              1
GREENLAND                            1
CYPRUS                               1
BRITISH ISLES                        1
ADMIRALTY ISLANDS                    1
THE BALKANS                          1
BRITISH WEST INDIES                  1
BRITISH NEW GUINEA                   1
AFRICA                               1
CEYLON (SRI LANKA)                   1
REUNION ISLAND                       1
GUATEMALA                            1
KOREA                                1
KUWAIT                               1
MALDIVES                             1
SOUTH CHINA SEA                      1
PUERTO RICO                          1
COOK ISLANDS                         1
NORTHERN ARABIAN SEA                 1
FALKLAND ISLANDS                     1
SWEDEN                               1
ANDAMAN ISLANDS                      1
TASMAN SEA                           1
ST. MAARTIN                          1
FEDERATED STATES OF MICRONESIA       1
BAY OF BENGAL                        1
NICARAGUA                            1
ROATAN                               1
ALGERIA                              1
DJIBOUTI                             1
MID-PACIFC OCEAN                     1
ARGENTINA                            1
NEVIS                                1
ANGOLA                               1
NORTHERN MARIANA ISLANDS             1
TUVALU                               1
WESTERN SAMOA                        1
GEORGIA                              1
Name: country, dtype: int64

In [61]:
attacks['country'].isnull().sum()
#2451

2451

In [66]:
# attacks['country'].replace(' TONGA','TONGA', inplace=True)
attacks['country'].replace('RED SEA / INDIAN OCEAN','UNKNOWN', inplace=True)
attacks['country'].replace('RED SEA?','UNKNOWN', inplace=True)
attacks['country'].replace('INDIAN OCEAN?','UNKNOWN', inplace=True)
attacks['country'].replace('ASIA?','UNKNOWN', inplace=True)
attacks['country'].replace('SOLOMON ISLANDS / VANUATU','UNKNOWN', inplace=True)
attacks['country'].replace('ANDAMAN / NICOBAR ISLANDAS','UNKNOWN', inplace=True)
attacks['country'].replace('EGYPT / ISRAEL','UNKNOWN', inplace=True)
attacks['country'].replace('EQUATORIAL GUINEA / CAMEROON','UNKNOWN', inplace=True)
attacks['country'].replace('ITALY / CROATIA','UNKNOWN', inplace=True)
attacks['country'].replace('IRAN / IRAQ','UNKNOWN', inplace=True)
attacks['country'].replace('ST HELENA, BRITISH OVERSEAS TERRITORY','UNKNOWN', inplace=True)
attacks['country'].replace('DIEGO GARCIA','UNKNOWN', inplace=True)
attacks['country'].replace('BETWEEN PORTUGAL & INDIA','UNKNOWN', inplace=True)
attacks['country'].replace('SUDAN?','UNKNOWN', inplace=True)
attacks['country'].replace('OCEAN','UNKNOWN', inplace=True)
attacks['country'].replace(' PHILIPPINES','PHILIPPINES', inplace=True)
attacks['country'].replace(' TONGA','TONGA', inplace=True)

In [62]:
# attacks['country'] = [column.upper() for column in attacks.columns]
attacks['country'] = attacks['country'].str.upper()

In [80]:
# pd.set_option('display.max_columns', None) 
# pd.set_option('display.max_rows', None)

In [68]:
attacks['year'].isnull().sum()

2403

In [69]:
attacks['year'].value_counts()

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
0.0       125
2008.0    122
2013.0    122
2009.0    120
2012.0    117
2007.0    112
2005.0    103
2006.0    103
2010.0    101
2000.0     97
1959.0     93
1960.0     93
2004.0     92
2003.0     92
2001.0     92
2002.0     88
1962.0     86
1961.0     78
1995.0     76
1999.0     66
1964.0     66
1998.0     65
1963.0     61
1996.0     61
1966.0     58
1997.0     57
1994.0     56
1992.0     56
1993.0     56
1988.0     55
1958.0     54
1989.0     53
2018.0     53
1965.0     51
1956.0     51
1983.0     50
1981.0     49
1975.0     49
1967.0     48
1968.0     47
1955.0     43
1950.0     43
1954.0     42
1970.0     42
1984.0     41
1942.0     41
1957.0     41
1982.0     40
1986.0     39
1976.0     39
1929.0     38
1991.0     38
1974.0     38
1990.0     38
1985.0     37
1953.0     36
1972.0     35
1987.0     35
1980.0     35
1951.0     32
1935.0     32
1936.0     32
1949.0     31
1944.0     31
1937.0     30
1947.0     30
1969.0     30
1948.0     29
1952.0     29
1931.0     29
1971.0     28
1943.0     28
1941.0     27
1973.0     27
1934.0     27
1932.0     27
1930.0     26
1946.0     26
1977.0     26
1928.0     26
1939.0     25
1978.0     25
1916.0     25
1979.0     25
1940.0     24
1938.0     24
1907.0     23
1933.0     22
1922.0     22
1906.0     21
1923.0     21
1926.0     21
1898.0     21
1895.0     20
1899.0     20
1924.0     19
1927.0     19
1913.0     18
1914.0     18
1909.0     18
1905.0     18
1890.0     17
1945.0     16
1911.0     16
1886.0     15
1888.0     15
1880.0     15
1902.0     15
1920.0     15
1894.0     15
1919.0     14
1925.0     14
1904.0     14
1910.0     14
1877.0     14
1912.0     14
1864.0     14
1893.0     13
1887.0     13
1883.0     13
1878.0     13
1908.0     13
1900.0     13
1862.0     12
1915.0     12
1921.0     12
1896.0     12
1882.0     12
1874.0     12
1917.0     11
1892.0     11
1897.0     11
1863.0     11
1852.0     10
1903.0     10
1885.0      9
1847.0      9
1876.0      9
1901.0      9
1889.0      9
1881.0      9
1891.0      9
1871.0      9
1853.0      8
1879.0      8
1872.0      8
1870.0      8
1849.0      7
1884.0      7
1855.0      7
1860.0      7
1845.0      6
1868.0      6
1858.0      6
1861.0      5
1918.0      5
1826.0      5
1875.0      5
1840.0      5
1867.0      5
1817.0      4
1856.0      4
1830.0      4
1842.0      4
1865.0      4
1848.0      4
1844.0      4
1873.0      4
1837.0      4
1839.0      4
1827.0      3
1846.0      3
1851.0      3
1829.0      3
1808.0      3
1700.0      3
1850.0      2
1836.0      2
1869.0      2
1776.0      2
1825.0      2
1832.0      2
1866.0      2
1835.0      2
1828.0      2
1642.0      2
1831.0      2
1803.0      2
1841.0      1
1792.0      1
77.0        1
1755.0      1
5.0         1
1810.0      1
1857.0      1
1703.0      1
1834.0      1
1787.0      1
1783.0      1
1764.0      1
1733.0      1
1791.0      1
1801.0      1
1742.0      1
1638.0      1
1785.0      1
1771.0      1
1721.0      1
1822.0      1
1815.0      1
1580.0      1
1780.0      1
1748.0      1
1784.0      1
1738.0      1
1859.0      1
1805.0      1
1554.0      1
1812.0      1
1819.0      1
1617.0      1
1595.0      1
1637.0      1
1788.0      1
1823.0      1
1749.0      1
1555.0      1
1802.0      1
1807.0      1
1816.0      1
1800.0      1
1786.0      1
1758.0      1
500.0       1
1779.0      1
1751.0      1
1723.0      1
1767.0      1
1753.0      1
1818.0      1
1811.0      1
1804.0      1
1797.0      1
1543.0      1
Name: year, dtype: int64

In [92]:
#-1800 - 1800 - 1850 - 1900 - 1950 - 2000 - 2000+ ( nova coluna)
# ufo_vars = ufo_vars[(ufo_vars['country'] == 'us') & (ufo_vars['year'] > 2000) & (ufo_vars['year'] <= 2010)]
# # animals.loc[(animals['danger'] >= 4), 'flag_extincao'] = 1
# attacks.loc[(attacks['year'] <= 1800) , 'data_clusters'] = 1
# attacks.loc[(attacks['year'] > 1801) & (attacks['year'] <= 1850) , 'data_clusters'] = 1
# attacks.loc[(attacks['year'] > 1851) & (attacks['year'] <= 1900) , 'data_clusters'] = 1
# attacks.loc[(attacks['year'] > 1901) & (attacks['year'] <= 1950) , 'data_clusters'] = 1
# attacks.loc[(attacks['year'] > 1951) & (attacks['year'] <= 2000) , 'data_clusters'] = 1
# attacks.loc[(attacks['year'] > 2001), 'data_clusters'] = 1
# & (attacks['year'] => 1801 and <= 1850) & (attacks['year'] => 1851 and <= 1900) & (attacks['year'] => 1901 and <= 1950) & (attacks['year'] => 1951 and <= 2000) & (attacks['year'] => 2001), 'data_clusters'] = 1
# pd.cut(df['A'], bins=[0, 2, 8, 10], include_lowest=True, labels=['low', 'mid', 'high'])

In [96]:
attacks['type'].isnull().sum()

2405

In [97]:
attacks['type'].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: type, dtype: int64

In [98]:
#categoria un e prov e os demais unknown ou 99999 - fazer aqui com cola da Fer

attacks['type'].replace('Invalid','UNKNOWN', inplace=True)
attacks['type'].replace('Sea Disaster','UNKNOWN', inplace=True)
attacks['type'].replace('Boating','UNKNOWN', inplace=True)
attacks['type'].replace('Boat','UNKNOWN', inplace=True)
attacks['type'].replace('Questionable','UNKNOWN', inplace=True)
attacks['type'].replace('Boatomg ','UNKNOWN', inplace=True)
attacks['type'] = attacks['type'].str.upper()

In [ ]:
attacks['species'].isnull().sum()

In [ ]:
attacks['species'].value_counts() #matar

In [ ]:
attacks['fatal_(y/n)'].isnull().sum()

In [ ]:
attacks['fatal_(y/n)'].value_counts()

In [ ]:
#categoria un e prov e os demais unknown ou 99999 - fazer aqui com cola da Fer

In [ ]:
attacks['activity'].isnull().sum()

In [ ]:
attacks['activity'].value_counts()

In [ ]:
#criar lista com os 10 primeiros e renomeia como others != aos 10º

In [ ]:
attacks['age'].isnull().sum()

In [ ]:
attacks['age'].value_counts()

In [ ]:
#-12 , 17, 25, 35, 45, 50, 55, 60+  unkown