## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [110]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [111]:
# Your code here

sample_list_1 = random.sample(range(101), 80)
print(sample_list_1)

[99, 43, 61, 34, 7, 68, 46, 55, 28, 19, 56, 90, 40, 86, 14, 97, 72, 75, 37, 20, 39, 54, 69, 51, 48, 2, 74, 84, 11, 77, 42, 80, 25, 6, 47, 24, 57, 0, 100, 96, 23, 27, 94, 95, 3, 50, 21, 59, 44, 29, 13, 52, 4, 66, 71, 17, 26, 16, 5, 91, 76, 98, 87, 93, 22, 45, 89, 8, 35, 38, 70, 73, 81, 36, 41, 53, 58, 10, 18, 63]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [112]:
# Your code here

set_1 = set(sample_list_1)
print(set_1)
print(len(set_1))

{0, 2, 3, 4, 5, 6, 7, 8, 10, 11, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 63, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 80, 81, 84, 86, 87, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [113]:
# Your code here
sample_list_2 = [random.randrange(101) for i in range(80)]
print(sample_list_2)
print(len(sample_list_2))

[55, 90, 78, 8, 49, 99, 83, 94, 22, 60, 94, 97, 53, 59, 87, 43, 9, 99, 49, 54, 46, 91, 90, 77, 93, 96, 26, 65, 24, 33, 52, 32, 64, 85, 87, 77, 21, 12, 9, 81, 38, 90, 93, 44, 94, 18, 68, 60, 23, 58, 50, 87, 17, 16, 31, 43, 8, 97, 97, 99, 45, 55, 80, 14, 6, 63, 79, 12, 17, 25, 58, 22, 41, 47, 97, 86, 13, 59, 16, 59]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [114]:
# Your code here

set_2 = set(([random.randrange(101) for i in range(80)]))
print(set_2)
print(len(set_2))

#por ser SET nnao dupica, então tem menos indexes

{1, 2, 4, 9, 10, 11, 13, 16, 17, 18, 20, 21, 22, 25, 26, 27, 28, 34, 35, 36, 37, 38, 43, 45, 46, 47, 48, 49, 51, 54, 55, 56, 57, 62, 65, 70, 75, 76, 78, 79, 80, 82, 85, 86, 87, 88, 90, 92, 93, 95, 96, 97, 99, 100}
54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [115]:
# Your code here
set_1 = {0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 27, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 92, 93, 94, 95, 96, 97, 98, 100}
set_2 = {1, 4, 5, 9, 10, 11, 13, 14, 15, 16, 21, 23, 24, 25, 27, 29, 33, 34, 35, 36, 37, 39, 40, 43, 46, 47, 48, 50, 52, 54, 57, 59, 61, 63, 65, 66, 68, 69, 70, 74, 76, 77, 79, 80, 82, 83, 86, 87, 88, 90, 91, 95, 96, 97, 99, 100}


print(set_1.difference(set_2))

{0, 3, 6, 7, 8, 17, 18, 19, 22, 26, 31, 32, 38, 41, 42, 44, 45, 49, 53, 56, 58, 60, 62, 64, 67, 72, 73, 78, 81, 84, 89, 92, 93, 94, 98}

In [116]:
set_3 = ((set_1.difference(set_2)))

print(set_3)
print(len(set_3))

{0, 3, 6, 7, 8, 17, 18, 19, 22, 26, 31, 32, 38, 41, 42, 44, 45, 49, 53, 56, 58, 60, 62, 64, 67, 72, 73, 78, 81, 84, 89, 92, 93, 94, 98}
35

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [117]:
# Your code here
print(set_2.difference(set_1))

{66, 35, 99, 69, 70, 40, 80, 23, 90, 91, 29}

In [118]:
set_4 = ((set_2.difference(set_1)))

print(set_4)
print(len(set_4))

{66, 35, 99, 69, 70, 40, 80, 23, 90, 91, 29}
11

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [119]:
# Your code here

set_5 = ((set_1.intersection(set_2)))

print(set_5)
print(len(set_5))

{1, 4, 5, 9, 10, 11, 13, 14, 15, 16, 21, 24, 25, 27, 33, 34, 36, 37, 39, 43, 46, 47, 48, 50, 52, 54, 57, 59, 61, 63, 65, 68, 74, 76, 77, 79, 82, 83, 86, 87, 88, 95, 96, 97, 100}
45

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [122]:
# Your code here
#len(set3) = len(set1) - len(set5)

print('set_1', len(set_1))
print('set_2', len(set_2))
print('set_3', len(set_3))
print('set_4', len(set_4))
print('set_5', len(set_5))

print(len(set_1), len(set_5) - len(set_4))
print(len(set_4), len(set_2) - len(set_5))
 
# DUVIDA

set_1 80
set_2 56
set_3 35
set_4 11
set_5 45
80 34
11 11

#### Create an empty set called `set6`.

In [103]:
# Your code here


set_6 = set()

print(set_6)
print(len(set_6))

set()
0

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [99]:
# Your code here
set_3 = {0, 3, 6, 7, 8, 17, 18, 19, 22, 26, 31, 32, 38, 41, 42, 44, 45, 49, 53, 56, 58, 60, 62, 64, 67, 72, 73, 78, 81, 84, 89, 92, 93, 94, 98}
set_5 = {1, 4, 5, 9, 10, 11, 13, 14, 15, 16, 21, 24, 25, 27, 33, 34, 36, 37, 39, 43, 46, 47, 48, 50, 52, 54, 57, 59, 61, 63, 65, 68, 74, 76, 77, 79, 82, 83, 86, 87, 88, 95, 96, 97, 100}


set_6 = set_3.update(set_5)

print(set_3)
print(len(set_3))

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 27, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 92, 93, 94, 95, 96, 97, 98, 100}
80

In [109]:

set_6.update(set_3)
set_6.update(set_5)

print(set_6)
print(len(set_6))

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 27, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 92, 93, 94, 95, 96, 97, 98, 100}
80

#### Check if `set1` and `set6` are equal.

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [68]:
# Your code here
set_1 = {0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 27, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 92, 93, 94, 95, 96, 97, 98, 100}
set_2 = {1, 4, 5, 9, 10, 11, 13, 14, 15, 16, 21, 23, 24, 25, 27, 29, 33, 34, 35, 36, 37, 39, 40, 43, 46, 47, 48, 50, 52, 54, 57, 59, 61, 63, 65, 66, 68, 69, 70, 74, 76, 77, 79, 80, 82, 83, 86, 87, 88, 90, 91, 95, 96, 97, 99, 100}

check_1 = set_1.issubset(set_2)

print(check_1)

False

In [72]:
set_1 = {0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 27, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 92, 93, 94, 95, 96, 97, 98, 100}
set_3 = {0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 27, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 92, 93, 94, 95, 96, 97, 98, 100}
#set_3 pós update é maior mesmo

check_2 = set_1.issubset(set_3)

print(check_2)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [125]:
# Your code here

print("Union :", set_3 | set_4 | set_5)

Union : {0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

In [79]:
print("Union :", set_1 | set_2 | set_3 | set_4 | set_5)

Union : {0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

In [81]:
print("Difference :", set_1 - set_2)

Difference : {0, 3, 6, 7, 8, 17, 18, 19, 22, 26, 31, 32, 38, 41, 42, 44, 45, 49, 53, 56, 58, 60, 62, 64, 67, 72, 73, 78, 81, 84, 89, 92, 93, 94, 98}

#### Using the `pop` method, remove the first element from `set1`.

In [83]:
# Your code here

# Esse método removerá o último item, os sets são em desordem não dá pra saber qual foi removido, não sei remover o primeiro.
#DUVIDA

set_1 = {0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 27, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 92, 93, 94, 95, 96, 97, 98, 100}

x = set_1.pop()
print(x)
print(set_1)

0
{1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 27, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 92, 93, 94, 95, 96, 97, 98, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [85]:
# Your code here


item_set_1 = [1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 27, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 92, 93, 94, 95, 96, 97, 98, 100]

item_set_1 = set(item_set_1) - {1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}


print(item_set_1)
print(len(item_set_1))

{3, 4, 5, 6, 7, 8, 10, 13, 14, 15, 16, 17, 18, 22, 24, 25, 26, 27, 32, 33, 34, 36, 37, 38, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 56, 57, 58, 60, 62, 63, 64, 65, 67, 68, 72, 73, 74, 76, 77, 78, 82, 83, 84, 86, 87, 88, 92, 93, 94, 95, 96, 97, 98, 100}
65

In [ ]:
#Another one bites the dust!